@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h2>訊息摘要</h2>
<ul>
    <li>@TempData["User"]</li>
    <li>@TempData["ErrorMessage"]</li>
    <li>@TempData["Time"]</li>
    


</ul>