
@{
    ViewData["Title"] = "PassViewBag";
}

<h1>PassViewBag</h1>

<ul>
    <li> @ViewBag.NickName</li>
    <li> @ViewBag.Married</li>
    <li> @ViewBag.Height</li>
    <li> @ViewBag.Weight</li>
</ul>

