@model IEnumerable<MVCPratice.Models.PartialView.Card>

@{
    ViewData["Title"] = "CardList";
}

<div class="jumbotron bg-info text-center">
    <h2>人物牌卡(從List集合資料動態產生)</h2>
</div>

<div class="row">
    @foreach (var man in Model)
    {
        @await Html.PartialAsync("_CardPartial", man)
      
    }

</div>

@section topCSS{
    <link href="~/css/Card.css" rel="stylesheet" />
}
